<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-sm-4 col-sm-3 text-center bg-dark rounded-circle"style="margin-top:25%;padding:50px 0px;opacity:0.9">
            
                <span class="text-light">
                    <h1><b>Our Services</b></h1>
                </span>
            </div>
        </div>
    </div>
</section>
<!-- section for services -->
<section>
    <div class="container">
        <div class="row text-center p-5 ">
            
     
        <div class="bg-light text-dark">
                    <div class="float-left col-sm-2  p-5 animate ">
                <button type="button" onclick="myfunction1()">MAKEUP</button>           
                    </div>
                    <div class="float-left col-sm-2 p-5 animate">
                        <button type="button" onclick="myfunction2()">FACIAL</button> 
                    </div>
                    <div class="float-left col-sm-2 p-5 animate">
                        <button type="button" onclick="myfunction3()">HAIRCUT</button>
                    </div>
                    <div class="float-left col-sm-2  p-5 animate">
                        <buttonL type="button" onclick="myfunction4()">MASSAGE</buttonL>
                    </div>
                    <div class="float-left col-sm-2 p-5 animate">
                        <buttonL type="button" onclick="myfunction5()">NAILCARE</buttonL>
                    </div>
                    <div class="float-left col-sm-2  p-5 animate">
                        <button type="button" onclick="myfunction6()">WAXING</button>
                        
                    </div>
        </div>
    
   
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div id="id1" class="text-center">This is the facility</div>
          
            </div>
            <div class="col-sm-6">
                <div ><img src="/images/img3.jpg" class="img-fluid" alt="photos" id="id2"></div>
            </div>
        </div>
    </div>
</section>